<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jasonlat.ai.infrastructure.dao.IMcpProtocolMappingDao">

    <resultMap id="McpProtocolMappingMap" type="com.jasonlat.ai.infrastructure.dao.po.McpProtocolMappingPO">
        <id column="id" property="id"/>
        <id column="protocol_id" property="protocolId"/>
        <result column="mapping_type" property="mappingType"/>
        <result column="parent_path" property="parentPath"/>
        <result column="field_name" property="fieldName"/>
        <result column="mcp_path" property="mcpPath"/>
        <result column="mcp_type" property="mcpType"/>
        <result column="mcp_desc" property="mcpDesc"/>
        <result column="is_required" property="isRequired"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, protocol_id,mapping_type, parent_path, field_name, mcp_path, mcp_type,
        mcp_desc, is_required, sort_order, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.jasonlat.ai.infrastructure.dao.po.McpProtocolMappingPO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO mcp_protocol_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gateway_id,
            tool_id,
            mapping_type,
            <if test="parentPath != null and parentPath.trim().length() > 0">parent_path,</if>
            field_name,
            mcp_path,
            mcp_type,
            <if test="mcpDesc != null and mcpDesc.trim().length() > 0">mcp_desc,</if>
            <if test="isRequired != null">is_required,</if>
            <if test="httpPath != null and httpPath.trim().length() > 0">http_path,</if>
            <if test="httpLocation != null and httpLocation.trim().length() > 0">http_location,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{gatewayId},
            #{toolId},
            #{mappingType},
            <if test="parentPath != null and parentPath.trim().length() > 0">#{parentPath},</if>
            #{fieldName},
            #{mcpPath},
            #{mcpType},
            <if test="mcpDesc != null and mcpDesc.trim().length() > 0">#{mcpDesc},</if>
            <if test="isRequired != null">#{isRequired},</if>
            <if test="httpPath != null and httpPath.trim().length() > 0">#{httpPath},</if>
            <if test="httpLocation != null and httpLocation.trim().length() > 0">#{httpLocation},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM mcp_protocol_mapping
        <choose>
            <when test="id != null">
                WHERE id = #{id}
            </when>
            <otherwise>
                WHERE 1 = 0
            </otherwise>
        </choose>
    </delete>

    <update id="updateById" parameterType="com.jasonlat.ai.infrastructure.dao.po.McpProtocolMappingPO">
        UPDATE mcp_protocol_mapping
        <set>
            <if test="gatewayId != null and gatewayId.trim().length() > 0">gateway_id = #{gatewayId},</if>
            <if test="toolId != null">tool_id = #{toolId},</if>
            <if test="mappingType != null and mappingType.trim().length() > 0">mapping_type = #{mappingType},</if>
            <if test="parentPath != null and parentPath.trim().length() > 0">parent_path = #{parentPath},</if>
            <if test="fieldName != null and fieldName.trim().length() > 0">field_name = #{fieldName},</if>
            <if test="mcpPath != null and mcpPath.trim().length() > 0">mcp_path = #{mcpPath},</if>
            <if test="mcpType != null and mcpType.trim().length() > 0">mcp_type = #{mcpType},</if>
            <if test="mcpDesc != null and mcpDesc.trim().length() > 0">mcp_desc = #{mcpDesc},</if>
            <if test="isRequired != null">is_required = #{isRequired},</if>
            <if test="httpPath != null and httpPath.trim().length() > 0">http_path = #{httpPath},</if>
            <if test="httpLocation != null and httpLocation.trim().length() > 0">http_location = #{httpLocation},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            update_time = CURRENT_TIMESTAMP
        </set>
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
            <if test="(gatewayId == null or gatewayId.trim().length() == 0)
                      and toolId == null
                      and (mappingType == null or mappingType.trim().length() == 0)
                      and (parentPath == null or parentPath.trim().length() == 0)
                      and (fieldName == null or fieldName.trim().length() == 0)
                      and (mcpPath == null or mcpPath.trim().length() == 0)
                      and (mcpType == null or mcpType.trim().length() == 0)
                      and (mcpDesc == null or mcpDesc.trim().length() == 0)
                      and isRequired == null
                      and (httpPath == null or httpPath.trim().length() == 0)
                      and (httpLocation == null or httpLocation.trim().length() == 0)
                      and sortOrder == null">
                AND 1 = 0
            </if>
        </where>
    </update>

    <select id="queryById" parameterType="java.lang.Long" resultMap="McpProtocolMappingMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM mcp_protocol_mapping
        <choose>
            <when test="id != null">
                WHERE id = #{id}
            </when>
            <otherwise>
                WHERE 1 = 0
            </otherwise>
        </choose>
    </select>

    <select id="queryAll" resultMap="McpProtocolMappingMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM mcp_protocol_mapping
        ORDER BY id DESC
    </select>

    <select id="queryMcpGatewayToolConfigListByProtocolId" parameterType="java.lang.Long" resultMap="McpProtocolMappingMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM mcp_protocol_mapping
        WHERE protocol_id = #{protocolId}
        ORDER BY sort_order DESC
    </select>

</mapper>
