<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jasonlat.ai.infrastructure.dao.IMcpGatewayDao">

    <resultMap id="McpGatewayMap" type="com.jasonlat.ai.infrastructure.dao.po.McpGatewayPO">
        <id column="id" property="id"/>
        <result column="gateway_id" property="gatewayId"/>
        <result column="gateway_name" property="gatewayName"/>
        <result column="gateway_desc" property="gatewayDesc"/>
        <result column="version" property="version"/>
        <result column="auth" property="auth"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, gateway_id, gateway_name, gateway_desc, version, auth, status, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.jasonlat.ai.infrastructure.dao.po.McpGatewayPO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO mcp_gateway
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gateway_id,
            gateway_name,
            version,
            auth,
            <if test="gatewayDesc != null and gatewayDesc.trim().length() > 0">gateway_desc,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{gatewayId},
            #{gatewayName},
            #{version},
            #{auth},
            <if test="gatewayDesc != null and gatewayDesc.trim().length() > 0">#{gatewayDesc},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM mcp_gateway
        <choose>
            <when test="_parameter != null">
                WHERE id = #{id}
            </when>
            <otherwise>
                WHERE 1 = 0
            </otherwise>
        </choose>
    </delete>

    <delete id="deleteByGatewayId" parameterType="java.lang.String">
        DELETE FROM mcp_gateway
        <choose>
            <when test="gatewayId != null and gatewayId.trim().length() > 0">
                WHERE gateway_id = #{gatewayId}
            </when>
            <otherwise>
                WHERE 1 = 0
            </otherwise>
        </choose>
    </delete>

    <update id="updateById" parameterType="com.jasonlat.ai.infrastructure.dao.po.McpGatewayPO">
        UPDATE mcp_gateway
        <set>
            <if test="version != null and gatewayId.trim().length() > 0">version = #{version},</if>
            <if test="auth != null">auth = #{auth},</if>
            <if test="gatewayId != null and gatewayId.trim().length() > 0">gateway_id = #{gatewayId},</if>
            <if test="gatewayName != null and gatewayName.trim().length() > 0">gateway_name = #{gatewayName},</if>
            <if test="gatewayDesc != null and gatewayDesc.trim().length() > 0">gateway_desc = #{gatewayDesc},</if>
            <if test="status != null">status = #{status},</if>
            update_time = CURRENT_TIMESTAMP
        </set>
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
            <if test="(gatewayId == null or gatewayId.trim().length() == 0)
                      and (gatewayName == null or gatewayName.trim().length() == 0)
                      and (gatewayDesc == null or gatewayDesc.trim().length() == 0)
                      and status == null">
                AND 1 = 0
            </if>
        </where>
    </update>

    <update id="updateAuthStatusByGatewayId" parameterType="com.jasonlat.ai.infrastructure.dao.po.McpGatewayPO">
        UPDATE mcp_gateway
        <set>
            <if test="auth != null">
                auth = #{auth},
            </if>
            <if test="version != null and version.trim().length() != 0">
                version = #{version},
            </if>
            update_time = #{updateTime}
        </set>
        WHERE gateway_id = #{gatewayId}
    </update>

    <update id="updateByGatewayId" parameterType="com.jasonlat.ai.infrastructure.dao.po.McpGatewayPO">
        UPDATE mcp_gateway
        <set>
            <if test="gatewayName != null and gatewayName.trim().length() != 0">gateway_name = #{gatewayName},</if>
            <if test="gatewayDesc != null and gatewayDesc.trim().length() != 0">gateway_desc = #{gatewayDesc},</if>
            <if test="version != null and version.trim().length() != 0">version = #{version},</if>
            <if test="auth != null">auth = #{auth},</if>
            <if test="status != null">status = #{status},</if>
            update_time = #{updateTime}
        </set>
        <where>
            <choose>
                <when test="gatewayId != null and gatewayId.trim().length() != 0">
                    gateway_id = #{gatewayId}
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
        </where>
    </update>

    <select id="queryById" parameterType="java.lang.Long" resultMap="McpGatewayMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM mcp_gateway
        <choose>
            <when test="id != null">
                WHERE id = #{id}
            </when>
            <otherwise>
                WHERE 1 = 0
            </otherwise>
        </choose>
    </select>

    <select id="queryAll" resultMap="McpGatewayMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM mcp_gateway
        ORDER BY id DESC
    </select>

    <select id="queryMcpGatewayByGatewayId" parameterType="java.lang.String" resultMap="McpGatewayMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM mcp_gateway
        <choose>
            <when test="gatewayId != null">
                WHERE gateway_id = #{gatewayId}
            </when>
            <otherwise>
                WHERE 1 = 0
            </otherwise>
        </choose>
    </select>

    <select id="queryGatewayList" parameterType="com.jasonlat.ai.infrastructure.dao.po.McpGatewayPO" resultMap="McpGatewayMap">
        SELECT id, gateway_id, gateway_name, gateway_desc, version, auth, status, create_time, update_time
        FROM mcp_gateway
        <where>
            <if test="gatewayId != null and gatewayId != ''">
                AND gateway_id like concat('%', #{gatewayId}, '%')
            </if>
            <if test="gatewayName != null and gatewayName != ''">
                AND gateway_name like concat('%', #{gatewayName}, '%')
            </if>
        </where>
        ORDER BY update_time DESC
        <if test="limitStart != null and limitCount != null">
            LIMIT  #{limitCount} OFFSET #{limitStart}
        </if>
    </select>

    <select id="queryGatewayListCount" parameterType="com.jasonlat.ai.infrastructure.dao.po.McpGatewayPO" resultType="java.lang.Long">
        SELECT count(id)
        FROM mcp_gateway
        <where>
            <if test="gatewayId != null and gatewayId != ''">
                AND gateway_id like concat('%', #{gatewayId}, '%')
            </if>
            <if test="gatewayName != null and gatewayName != ''">
                AND gateway_name like concat('%', #{gatewayName}, '%')
            </if>
        </where>
    </select>

</mapper>
